		body {
			background-color: #EEEEEF;
			font-family:Tahoma, Geneva, sans-serif;
		}		

    .results {
      margin-top: 30px;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      
    }
    .carepar {
      background-color:#FFF;
      background-image: url('../images/cplogo.png');
			background-position: right center;
			background-repeat: no-repeat;      
    }
    .mission {
      background-color:#DDD;
      background-image: url('../images/missionlogo.png');
			background-position: right center;
			background-repeat: no-repeat;
   
    }
    .supveebox {
      
      width:800px;
      margin:0 auto;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
